# ===============================
# Database
# ===============================
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>

# ===============================
# Cloudinary
# ===============================
CLOUD_NAME=your_cloud_name_here
CLOUD_API_KEY=your_cloudinary_api_key_here
CLOUD_API_SECRET=your_cloudinary_api_secret_here

# ===============================
# Mapbox
# ===============================
MAP_TOKEN=pk.your_mapbox_token_here
